.body{
margin:0px;
padding-top:80px;
padding-left:100px;}

.header{
height: 75px;
display: flex;
flex-direction:row;
justify-content: space-between;
position:fixed;
top:0;
left:0;
right:0;
background-color:black;
}

.left{
display:flex;
align-items:center;
}
.tlines{
height:40px;
margin-left:20px;
margin-right:20px;
}
.logo{
height:40px;
weidth:40px;
}

.center{

flex: 1;
margin-left:70px;
margin-right:35px;
max-width: 500px;
display:flex;
align-items:center;
}

.box{
flex: 1;
height: 30px;
border-style:solid;
border-width:2px;
border-color:grey;
}

.search{
height:32px;
width:40px;
border-style:solid;
border-width:2px;
border-color:grey;
border-radius:3.5px;
margin-left:-1;
}

.mic{
margin-left:5px;
width:30px;
height:30px;
border-style:solid;
border-width:2px;
border-color:grey;
border-radius:15px;
background-color:grey;
}

.right{
display:flex;
align-items:center;
margin-right:20px;
flex-shrink:0px;
}

.one{
height:30px;
weidth:30px;
}
.one:hover{opacity:0.5;}
.oneone:hover{opacity:0.5;}
.two:hover{opacity:0.5;}
.three:hover{opacity:0.5;}
.four:hover{opacity:0.5;}
.oneone{
margin-top:12px;
color: white;
height:30px;
margin-right:15px;
};

.two{
margin-left:15px;
width:40px;
height:40px;
}

.three{
margin-left:15px;
width:30px;
height:30px;
}

.four{
margin-left:15px;
width:30px;
height:30px;
border-radius:15px;
}

.sidebar{
position:fixed;
top:75px;
left:0;
bottom:0;
header:75px;
width:100px;
background-color:black;
}

.aa,.bb,.cc,.dd,.ee,.ff{
padding-left:15px;
height:35px;
padding-bottom:0px;
padding-top:20px;
}
.aa:hover{opacity:0.5;}
.bb:hover{opacity:0.5;}
.cc:hover{opacity:0.5;}
.dd:hover{opacity:0.5;}
.ee:hover{opacity:0.5;}
.ff:hover{opacity:0.5;}
.t1{color:white;padding-left:10px;}
.t2{color:white;padding-left:10px;}
.t3{color:white;padding-left:10px;}
.t4{color:white;padding-left:10px;}
.t5{color:white;padding-left:10px;}
.t6{color:white;padding-left:10px;}

.thumbnail{
width:100%;
margin-bottom: 12px;
}
.thumbnail:hover{
opacity:0.5;
}
.time{

font-size:12px;
padding-left:4px;
padding-right:4px;
padding-top:4px;
padding-bottom:4px;
border-radius:2px;
background-color:black;
color:white;
position:absolute;
bottom:20px;
right:5px;

}
.group{
display:grid;
grid-template-columns:55px 1fr;

}
.iconbox{
width:30px;
}
.icon{
margin-left:5px;
width:40px;
border-radius:90px;
height:35px;
}
.icon:hover{
opacity:0.5;
}
.content{
margin:0px;
font-weight:bold;
font-size:15px;
color:white;
}
.stats{
font-size:12px;
margin:6px;
color:white;

}
.channel_name{
font-size:12px;
margin:6px;
color:white;
}
